
body{padding-top:50px}

#map1{
height: 600px;
width:800px;

}

#map1-spacing{
  margin-left:5%;
}

#text-spacing{
  margin-top:6%;
  font-family:Georgia, serif;
margin-left:3%;

}

a:link{
  color: black;
text-decoration: none;
border-bottom: 1px solid #326891;

}

#font{
  font-family:Georgia, serif;
}

#info{
  font-family: Georgia, serif;
  margin-right:5%;
  margin-left:5%;
}

#pies{
  margin-bottom:4%;
}


#the-world{
  font-family:Arial;
}

#intro{
  margin-top:6%;
  margin-left:6%;
  margin-right:5%;
  font-family:Georgia, serif;
}


#centered{
  font-family:"Olde English";
  color:black;
  font-size:20px;
  margin-left:15px;
  float:left;
}

.btn{
  float:right;
  margin-right:2%;
  background-color:#326891;
  color:white;

}

#chart3{
  height:350px;
}

#example{
  font-family:Georgia;

}
#example_info{
  font-family:Georgia, serif;
  font-weight:bold;
}

.previous{
  font-family:Georgia, serif;
  font-weight:bold;

}
.next{
  font-family:Georgia, serif;
  font-weight:bold;
}
@media (max-width: 780px) {
  #map1{
    margin:auto;
    height: 400px;
    width:600px;
  }

  }
  @media (max-width: 555px) {
    #map1{
      margin:auto;
      height: 400px;
      width:500px;
    }

    }
    @media (max-width: 495px) {
      #map1{
        margin:auto;
        height: 300px;
        width:400px;
      }

      }
